.container{
    display: flex;
    flex-direction: column;

}

button{
    width: 150px;
    height: 50px;
    background-color: orange;
    color: white;
    font-size: 20px;
}

.headers {
    position: fixed;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-bottom: 2px solid #121212;

}

.header_2{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #121212;

}


.header_1{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #121212;

}

.header_2 a {
    float: right;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    font-size: 18px;

}

.header_1 a {
    float: right;
    text-decoration: none;
    padding: 0px 30px 10px 30px;
    font-size: 18px;

}

.banner{
    background-color: rgb(94, 78, 187);
    color: white;
    margin-top: 120px;
}

.turbine{
    background-image: url("./images/turbine.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 500px;  
    padding: 20px;

}

.turbine button{
    background-color: orange;
    color: white;
    height: 50px;
    width: 150px;
    font-size: large;
}

.info{
    background-color: black;
    color: white;
    font-size: 45px;
    justify-content: center;
    height: 300px;
    padding: 20px;
    letter-spacing: -1.425px;
    position: relative;
    margin-bottom: 24px;
    ;
}

.flexbox{
    display: flex;
    flex-direction: row;   
    background-color: black;
    color: white;

}

.flexbox div{
    width: 45%;
    padding: 30px;
}

.flexbox div a{
    color: orange;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.stats{
    width: 350px;
    margin :25px
}

.banner_2{
    background-color: white;

}

.stylles{

}

.div_1{
    display: flex;
    flex-direction: row;  

}

.empty{
    width: 25%;
    background-color: white;

}
.imagess{
    width:50%;
}

.texxt{
    width:25%;
    background-color: black;
    color: white;

}

.texxt a{
    color: orange;
    font-weight: bolder;

}

.see_all_customers{
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: white;
}

.see_all_customers button{
    width: 150px;
    height: 50px;
    background-color: orange;
    color: white;
    font-size: larger;

}

.end{
    background-image: url("./images/image.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 400px;  
    padding: 50px;
    color: white;
    font-size: xx-large;
}

.end button{
    width: 150px;
    height: 50px;
    background-color: orange;
    color: white;
    font-size: 20px;

}

.ending{
    display: flex;
    flex-direction: row;
}